<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="<?php echo $meta_data['description'] ?>">
<meta name="keywords" content="<?php echo $meta_data['keywords'] ?>">
<title><?php echo $meta_data['title'] ?></title>
<link rel="stylesheet" type="text/css" href="templates/<?php echo $template_folder ?>/art_gallery.css">
</head>
<body>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td height="120">
            <a href="index.php"><img src="images/<?php echo $site['logo'] ?>" width="250" height="45" border="0" alt="Home" title="Home"></a>
        </td>
    </tr>
</table><?php echo "\n" ?>