<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td id="sidebar" valign="top">
<?php echo $show_cart_link ?>
<?php echo $sidebar ?>
<?php echo $galleries ?>
<?php echo $rss_icon ?>
        </td>
        <td width="100%" align="center" valign="top">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="30" bgcolor="#bbbbbb">
                        <b>&nbsp;&nbsp;<?php echo $breadcrumb ?></b>
                    </td>
                </tr>
                <tr>
                    <td height="25" align="right">
                        Last Updated: <?php echo $long_date ?>&nbsp;<?php echo $rss ?>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <?php echo $text ?>
                    </td>
                </tr>
                <tr>
                    <td height="30" bgcolor="#bbbbbb">
                        <b>&nbsp;&nbsp;<?php echo $breadcrumb ?></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>