<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td id="sidebar" valign="top">
<?php echo $show_cart_link ?>
<?php echo $sidebar ?>
<?php echo $galleries ?>
<?php echo $rss_icon ?>
        </td>
        <td id="content" width="100%" align="center">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="100%" align="center" bgcolor="#bbbbbb">
                        <table border="0" width="100%">
                            <tr>
                                <td colspan="6" height="25">
                                    <b>&nbsp;&nbsp;<a href="index.php">Home</a> > Price List</b>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="6" height="35" bgcolor="#dddddd">
                                    <b>Price List</b>
                                </th>
                            </tr>
                            <tr>
                                <th height="25" bgcolor="#ffffff">
                                    Shop
                                </th>
                                <th height="25" bgcolor="#ffffff">
                                    <?php echo $artwork_id_th ?>
                                </th>
                                <th height="25" bgcolor="#ffffff">
                                    <?php echo $price_th ?>
                                </th>
                                <th height="25" bgcolor="#ffffff">
                                    <?php echo $size_th ?>
                                </th>
                                <th height="25" bgcolor="#ffffff">
                                    <?php echo $subject_th ?>
                                </th>
                                <th height="25" bgcolor="#ffffff">
                                    <?php echo $style_th ?>
                                </th>
                            </tr>
<?php echo $data_rows ?>
                            <tr>
                                <td colspan="6" height="25">
                                    <b>&nbsp;&nbsp;<a href="index.php">Home</a> > Price List</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>